{%extends 'base.html'%}

{%block main%}

<h2>What's this?</h2>
<p>
This is an experimental small web application run by <a href="https://tzovar.as">Bastian Greshake Tzovaras</a>.
If you log in with your Open Humans account it will read your Overland GPS data and your Spotify Listening History
to create a small JSON endpoint that displays where you are, the local time & weather and what you recently listened too.
</p>
<p>
It optionally also allows you to enter <code>client_id</code> & <code>client_secret</code> values from a personal Fitbit API application.
If you do this the final JSON will also contain your current heart rate.
</p>

{%endblock main%}
