{%extends 'base.html'%}

{%block main%}

<h2>What's this?</h2>
<p>
This is an experimental small web application run by <a href="https://tzovar.as">Bastian Greshake Tzovaras</a>.
If you log in with your Open Humans account it will read your Overland GPS data and your Spotify Listening History
to create a small JSON endpoint that displays where you are, the local time & weather and what you recently listened too.
</p>
<p>
It optionally also allows you to enter <code>client_id</code> & <code>client_secret</code> values from a personal Fitbit API application.
If you do this the final JSON will also contain your current heart rate.
</p>

<h2>How will you use my data?</h2>
<p>
By logging in this app will only store your access credentials to access your data from Open Humans (and optionally from Fitbit).
</p>
<p>
It will process your Spotify & Overland data but not store any of this raw data. The data from Open Humans will only be used to temporarily extract the
last geo location & last played song. No raw location data will be stored long-term, only the publicly accessible JSON will be stored.
</p>

<p>
Historic data will not be stored by this application. Instead only the latest values are stored.
</p>

{%endblock main%}
