{% extends 'base.html' %}

{% block main %}

<h1 class="mt-5">Personal API</h1>

{% if not request.user.is_authenticated %}
<div class="row">
  <div class="col-md">
    <p>
      Connect to your <i>Open Humans</i> account & your personal Fitbit API endpoint to deliver status updates about yourself.
    </p>
    <a href="{{ auth_url }}" class="btn btn-primary">
      Connect to Open Humans
    </a>
  </div>
  <div class="col-md">
    <h2>What's this?</h2>
    <p>
    This is an experimental small web application run by <a href="https://tzovar.as">Bastian Greshake Tzovaras</a>.
    If you log in with your Open Humans account it will read your Overland GPS data and your Spotify Listening History
    to create a small JSON endpoint that displays where you are, the local time & weather and what you recently listened too.
    </p>
    <p>
    It optionally also allows you to enter <code>client_id</code> & <code>client_secret</code> values from a personal Fitbit API application.
    If you do this the final JSON will also contain your current heart rate.
    </p>
  </div>
</div>
{% else %}

<div class="row">
  <div class="col-md">
    <h2>You're logged in. </h2>
      Now we can mine your data to build a dashboard. Right now this page
      only uses the Overland & Spotify data from Open Humans and you'll need to provide your
      personal API tokens for Fitbit on the right to get intraday values.
  <p>
    <a href="{% url 'deliver_data' oh_id=request.user.openhumansmember.oh_id%}" class="btn btn-primary" id='json_url'>
      See your Data!
    </a>
  </p>
  <a href="{% url 'about' %}">Check the About page for an example</a> of how to embed this data in your own website!
  <p>

    <span id='time_info' class='invisible'>
      Your local time is <span id='local_time'></span> (<span id='time_zone'></span>).
    </span>
    <span id='location_info' class='invisible'>
      You are currently in <span id='location_name'></span> <span id='weather' class='invisible'> There it is
        <i><i id='condition_icon'></i> <span id='weather_condition'></span></i> and <span id='weather_temperature'></span>˚C.</span>
    </span>
  </p>
  <p>
    <span id='activity_info' class='invisible'>
      Your current heart rate is <i class="fas fa-heartbeat"></i> <span id='heart_rate'></span> bpm.
      You took <i class="fas fa-shoe-prints"></i> <span id='steps'></span> steps today.

      You slept <i class="fas fa-bed"></i> <span id='sleep'></span> hours.
      Your phone is <span id='battery_level'></span>% charged and is currently <span id='battery_state'></span>.
    </span>
  </p>
  <p>
    <span id='music_info' class='invisible'>
      You recently danced to <i class="fas fa-music"></i> <i><span id='title'></span></i>
      by <span id='artist'></span>.
    </span>
  </p>
  </div>
  <div class="col-md">
    <h2>
      Your Fitbit account
    </h2>
    {%if fitbituser%}
  </p>
    You already have linked a fitbit user account
  </p>
  {%else%}
  you don't!
  {%endif%}

  {%if fb_auth_url%}
  <p>
  You have added your <code>client_id/secret</code> but haven't authorized this Fitbit
  account yet. Please click below to get access to your intraday-data!
  <a href="{{ fb_auth_url }}" class="btn btn-primary">
    Connect Fitbit Account
  </a>
  </p>
  {%elif fitbituser%}
  <form action="{% url 'delete-fitbit' %}" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Remove Fitbit integration">
  </form>
  {%endif%}

  <p>
    <h3>
      Add/Edit your Personal Fitbit API <code>client_id/secret</code>
    </h3>
    <p>Give <code>{{fb_redirect_uri}}</code> as the <code>Callback URL</code> when setting up
      on the Fitbit end.</p>
  <form action="{% url 'create-fitbit' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label>Fitbit Client ID</label> <input class="form-control" name="client_id" size=60 type="text" value="{{fitbituser.personal_client_id}}" placeholder="Enter your Fitbit Personal API Client-ID" required>
    </div>
    <div class="form-group">
      <label>Client secret</label> <input class="form-control" name="client_secret" type="text" size=60 value="{{fitbituser.personal_client_secret}}" placeholder="Enter your Fitbit Personal API Client-Secret" required>
    </div>
    <input type="submit" class="btn btn-default" value="Update Client ID/Secret">
  </form>
  </p>
  {% if not netatmouser %}
  <a class='btn btn-primary' href="{{netatmo_link}}">Add NetAtmo</a>
  {%else%}
  <form action="{% url 'delete-netatmo' %}" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Remove Netatmo integration">
  </form>
  {%endif%}


<p>
  <h3>Add/edit your last.fm account</h3>
  <form action="{% url 'create-lastfm' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label>Enter a new <i>last.fm</i> user name</label> <input class="form-control" name="username" size=60 type="text" value="{{lastfmuser}}" placeholder="Enter your last.fm username" required>
    </div>
    <input type="submit" class="btn btn-default" value="Update last.fm username">
  </form>
</p>

<h3>Add/edit your bookwyrm account</h3>
<form action="{% url 'create-bookwyrm' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label>Enter a new <i>Bookwyrm</i> user name (format: <i>@user@server.url</i>)</label> <input class="form-control" name="username" size=60 type="text" value="{{bookwyrmhandle}}" placeholder="Enter your bookwyrmuser username (@user@server.handle)" required>
  </div>
  <input type="submit" class="btn btn-default" value="Update Bookwyrm username">
</form>
</p>

  </div>

{% endif %}

{% endblock main %}
